// variabler for farger og fonts
$font-stack: 'Montserrat', 'Roboto';
$background-color: #c3cbdb;
$text-color: #2a324b;
$tab-background-color: #2a324b;
$hover-color: #fff;


body {
    font-family: $font-stack;
    max-width: fit-content;
    background: $background-color;
}

.meny-fane {
    list-style-type: none;
    display: flex;
    background-color: $tab-background-color;
    max-width: fit-content;


    .meny-fane-valg {
        color: $hover-color;
        cursor: pointer;
        border-left: 10px solid $background-color;
        text-transform: uppercase;
    }
}