@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// variabler for farger og fonts
$font-stack: 'Montserrat', 'Roboto';
$background-color: #c3cbdb;
$text-color: #2a324b;
$tab-background-color: #2a324b;
$hover-color: #fff;


body {
    margin: 8rem;
    font-family: $font-stack;
    background-color: $background-color;
}

.meny-fane {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 10px;
    margin-left: 0;


    .meny-fane-valg {
        font-weight: 700;
        background-color: $tab-background-color;
        color: $hover-color;
        padding: 20px 20px;
        text-align: center;
        display: inline-block;
        margin: -10px 10px -10px 0 ;
    }
}

// style dataen hentet ut fra arrayen resources 
.active-tab,
.meny-innhold {
    background-color: $hover-color;
    padding: 20px;
    margin: 0;
    margin-left: 10px;
    margin-right: 20px;
}
.meny-innhold h2{
    margin: 10px;
    padding: 50px;
}

.meny-innhold a {
    font-family: $font-stack;
}

.meny-innhold p {
    font-family: $font-stack;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0.5rem;
    text-shadow: 0.1px 0.1px;
}

.meny-innhold ul li {
    list-style-type: none;
    font-family: 'Roboto';
    padding: 5px;
}

#navbarlinks {
    text-decoration: none;
    color: #fff;
    background-color: $tab-background-color;
    padding: 26.5px;
    margin: 1rem;
    text-transform: uppercase;
    font-weight: 700;

}



// gjør om farge på active tab
#navbarlinks.active-tab {
    color: $text-color;
    background-color: $hover-color;
}

// adder litt padding på meny fanen
ul.meny-fane {
    padding: 10px;
}